/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
      }

body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    background-color: #fbfbfb;
    color: #0f0f0f;
    max-width: 100%;
    margin: auto;
}

header {
    background-color: #fbfbfb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 8px rgb(123, 123, 123);
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}


ul {
    list-style: none;
}

li {
    display: inline;
    margin: auto;
    padding: 16px;
}

a:hover {
    background-color: white;
    color: #af599e;
}


section {
    text-align: center;
    margin: 20px;
    line-height: 1.2;
    min-height: 100vh;

}

article {
    background-color: rgb(175, 89, 158, 0.3);
    border-radius: 10px;
    margin: 5px;
    padding: 10px;

}

p {
    margin-top: 20px;
    margin-bottom: 20px;
}


footer,
button {
    background-color: #af599e;
    color: #fbfbfb;
    text-align: center;
}

button {
    font-size: 20px;
    padding: 20px;
    border: none;
    border-radius: 40px;
    max-width: 100%;
}

footer {
    padding: 20px;
}


/* GALERIA*/

.logo {
    max-width: 50%;
}

.fotopersonal {
    width: 300px;
    height: 300px;
    padding: 10px;
    border-radius: 100%;

}

#redes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50%px;
}

.imgredes {
    max-width: 80px;
    max-height: 80px;
    padding: 10%;
    margin-top: 50%;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {
     margin: auto;
     max-width: 1200px;
}


